* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    background-image: linear-gradient(to bottom right, white, #144272, #205295, #0A2647, #0A2647);
    font-size: 20px;
    overflow-y: hidden;
}

img {
    width: 100%;
    border-radius: 0;
    transform: scaleY(1.5);
}

form {
    margin: 10%;
    line-height: 30px;
}

h1 {
    padding-top: 20px;
    color: lightblue;
}

label {
    color: white;
    font-weight: 600;
}

select,
input {
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 7px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

#butt {
    background-color: #205295;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
}

#butt:hover {
    border: 1px solid #205295;
    background-color: #0A2647;
}

@media only screen and (min-width: 768px) {
    body {
        grid-template-columns: 50% auto;
    }

    img {
        height: 90vh;
    }

    form {
        margin: 20% 20% 20% 20%;
    }
}